/* ---------------------------------------------------------------------------------------------------------- 
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'taz_hair14regular';
    src: url('Taz/tazhair14_-webfont.eot');
    src: url('Taz/tazhair14_-webfont.eot?#iefix') format('embedded-opentype'),
         url('Taz/tazhair14_-webfont.woff') format('woff'),
         url('Taz/tazhair14_-webfont.ttf') format('truetype'),
         url('Taz/tazhair14_-webfont.svg#taz_hair14regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'taz_semilightregular';
    src: url('Taz/tazsemilight-webfont.eot');
    src: url('Taz/tazsemilight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Taz/tazsemilight-webfont.woff') format('woff'),
         url('Taz/tazsemilight-webfont.ttf') format('truetype'),
         url('Taz/tazsemilight-webfont.svg#taz_semilightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'taz_lightregular';
    src: url('Taz/tazlight-webfont.eot');
    src: url('Taz/tazlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Taz/tazlight-webfont.woff') format('woff'),
         url('Taz/tazlight-webfont.ttf') format('truetype'),
         url('Taz/tazlight-webfont.svg#taz_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'taz_semiboldregular';
    src: url('Taz/tazsemibold-webfont.eot');
    src: url('Taz/tazsemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Taz/tazsemibold-webfont.woff') format('woff'),
         url('Taz/tazsemibold-webfont.ttf') format('truetype'),
         url('Taz/tazsemibold-webfont.svg#taz_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

 @font-face {
  font-family: 'fontello';
  src: url('iconfont/fontello.eot?41320862');
  src: url('iconfont/fontello.eot?41320862#iefix') format('embedded-opentype'),
       url('iconfont/fontello.woff?41320862') format('woff'),
       url('iconfont/fontello.ttf?41320862') format('truetype'),
       url('iconfont/fontello.svg?41320862#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


input,
textarea 			{ /* We strongly recommend you declare font-weight using numerical values, but check to see which weights you're exporting first */ }

h1{
    font:300 3em 'taz_lightregular', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
}
address{
    font:300 1.75em 'taz_semiboldregular', Arial, sans-serif;
    color: $gold;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
}
.wp-table-reloaded-table-name, h3{
    font:300 1.25em 'taz_semiboldregular', Arial, sans-serif!important;
    text-align: left !important;
    text-transform: none !important;
    color: $blue !important;
}
.wp-table-reloaded{
    width: 100%;
    -moz-box-shadow:    0 12px 10px -6px $silver;
    -webkit-box-shadow: 0 12px 10px -6px $silver;
    box-shadow:  0 12px 10px -6px $silver;
    border-collapse: none!important;
    border-spacing: 2px!important;

    font-family: 'Open Sans';
    font-size: 0.9em;
    font-weight: 400;

    tr:nth-child(even) {
        background: rgb(225,225,225);
        td.column-2{
        background-color: $gold;
        }
    }
    tr:nth-child(odd) {
        background: #FFF;
        td.column-2{
        background-color: rgb(180,159,104);
        }
    }
    td{
        padding: 5px!important;
    }
    td.column-1{
        width: 75%;
        color: $blue;
    }
    td.column-2{
        width: 25%;
        font-weight: 600;
        color: white !important;
        text-align: right !important;
    }
}